<h2>What is Recipro?</h2>
<p>Recipro is a place for people to share recipes. You can follow your friends (strangers too!) and when they add a new recipe using Recipro you will see it on your homepage! Other people can follow you too so Recipro is a great way to share all of those great recipes you have. It's like Twitter, but instead of tweeting microposts you share recipes.</p>
