<h2>Help</h2>
<h4>I forgot my password!</h4>
<p>Okay so there are a couple of huge problems with Recipro right now. Perhaps the biggest being that there is no way to recover a lost password. This is the next big feature to be added so please remember your password! If you do forget it you can send an email to support@myrecipro.com. Make sure to send it from the email you signed up with. Hang in there, this feature is coming soon!</p>
