<div id="welcome">
<h1>Welcome!</h1>
<ul>
	<li>Store recipes online!</li>
	<li>Share recipes with your friends!</li>
	<li>Create new recipes!</li>
	<li>Use categories to organize your recipes!</li>
	<li>Find new recipes and collaborate with others<li>
</ul>
		
<%= link_to "Sign up now!", signup_path, :class => "signup-button barely-round signup-button-gradient" %>
</div>
