<% if signed_in? %>
	<table class="front" summary="For signed in users">
		<tr>
			<td class="main">
				<h1 class="recipe">Add a new recipe!</h1>
				<%= render 'shared/recipe_form' %>
				<%= render 'shared/feed' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
			</td>
		</tr>
	</table>
<% else %>

<div id="welcome">
<h1>Welcome!</h1>
<ul>
	<li>Store recipes online!</li>
	<li>Share recipes with your friends!</li>
	<li>Create new recipes!</li>
	<li>Use categories to organize your recipes!</li>
	<li>Find new recipes and collaborate with others<li>
</ul>
		
<%= link_to "Sign up now!", signup_path, :class => "signup-button barely-round signup-button-gradient" %>
</div>
<% end %>
