<h2>News</h2>
<p><strong>Recipro is live!</strong></p>
<p>We are up and running... barely. We are working on some major pieces of functionality the two biggest being a confirmation system for when users sign up and an automated method of password recovery/reset. So if you want to join Recipro with someone else's email you better do it quickly. Just remember you will need access to the email address you sign up with so plan accordingly :o</p>